@import '../variables.scss';

.root {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
    
  .read_button_all {
    max-width: 200px;
    margin-bottom: 1.5rem;
  }

  .row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.298039);
    color: rgb(255, 255, 255);

    .column {
      padding: 2px 24px;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: inherit;
      text-align: left;
    }

    .padded {
      padding: 10px 24px;
    }
  }

  .read_button {

    cursor: pointer;

    svg {
      fill: #ffffff !important;
    }

    &.is_read {

      svg {
        fill: $text-grey !important;
      }
    }
  }
}