@import '../variables.scss';

.root {
  text {

    fill: $base-color-lightest !important;
    font-weight: 700;
    font-size: 0.7rem;
  }

  line, path {

    stroke: $base-color-lightest !important;
  }
}