@import '../variables.scss';

.root {
  height: 100%;
  background-color: $dashboard-page-color;

  .content {
    padding: 2rem;

    > div {
      padding-bottom: 0.5rem;
    }

    .title {
      font-weight: lighter;
      font-size: 1.45rem;
    }

    .name {

    }

    .status {

      .premium {
        color: $gold-color;
      }
    }

    .balance {

    }

    .actions {

    }

    .history {

    }
  }
}