@import '../variables.scss';

.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  color: $white;

  .main {
    background: #1c1f24 url(/assets/img/Landing1.jpg) no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 100%;
    min-height: 100vh;

    .dashboard {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .scroll_down {
      position: absolute;
      width: 100%;
      bottom: 4rem;

      > button {
        display: block !important;
        margin: 0 auto !important;
        width: 7rem !important;
        height: 7rem !important;

        span {
          padding: 16px 0 0 16px !important;
        }

        svg {
          width: 7rem !important;
          height: 7rem !important;
          fill: $gold-color !important;
        }
      }
    }

    .main_title {

      color: $gold-color;
      margin: 0 auto;
      text-align: center;

      @media (--small-screen) {
        padding: 2rem;
      }

      .site_title {
        font-size: 3.5rem;
        font-weight: 300;
      }

      .site_blurb {
        font-size: 1.6rem;
        margin: 0.5rem 0 0.75rem 0;
      }

      .button_blurb {
        font-size: 1rem;
        margin-top: 0.5rem;
      }
    }
  }

  .landing {
    background-color: $base-color;
    position: relative;

    &.dark {
      background-color: $base-color-darkest;
    }

    .l_container {
      padding: 4rem 0;
      display: flex;
      flex-direction: row;

      @media (--small-screen), (--medium-screen) {
        flex-direction: column;
      }

      &.reverse {
        flex-direction: row-reverse;

        @media (--small-screen), (--medium-screen) {
          flex-direction: column;
        }
      }

      .text {
        height: inherit;
        padding: 0 4rem;
        flex: 1;

        @media (--small-screen), (--medium-screen) {
          padding: 0 0 1rem 0;
        }

        .text_container {
          display: flex;
          height: 100%;
          flex-direction: column;

          @media (--medium-screen) {
            flex-direction: row;
          }

          .block {
            flex: 1;

            @media (--small-screen), (--medium-screen) {
              padding: 0 0.75rem;
            }

            .header {
              color: $gold-color;
            }

            .body {
              line-height: 1.45;
            }
          }
        }
      }

      .image {
        margin: 0 1rem;

        @media (--large-screen) {
          max-width: 768px;
          margin: 0 1rem 0 0;
        }

        @media (--x-large-screen) {
          max-width: 1024px;
          margin: 0 1rem 0 0;
        }

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .intermediate {
    display: flex;
    flex-direction: row;

    @media (--small-screen) {
      flex-direction: column;
    }

    .box {
      padding: 2rem 0;
      background-color: #282e33;
      flex: 1;
      text-align: center;
      line-height: 1.25;

      &.box_inverse {
        background-color: #1d2125;
      }

      .box_title {
        margin: 0.25rem 0 0.5rem 0;
        font-size: 1.4rem;
        color: $gold-color;
        font-weight: 300;
      }

      .box_blurb {
        max-width: 75%;
        margin: 0 auto;
      }
    }
  }

  .comparison {
    padding: 5rem 2rem;
    max-width: 1440px;
    margin: 0 auto;

    .row {
      border-bottom: 1px solid rgba(255, 255, 255, 0.298039);
      color: rgb(255, 255, 255);
      height: 48px;

      .column {
        padding-left: 24px;
        padding-right: 24px;
        height: 48px;
        text-align: center;
        font-size: 1.25rem;
        background-color: inherit;
        text-align: center;
        font-weight: 300;
      }

      .left {
        text-align: left;
      }
    }
  }

  .signup_button {
    
    display: block;
    margin-top: 2rem;
    text-align: center;

    > div {
      margin: 0 auto;
    }

    .cta {
      margin-bottom: 1rem;
    }
  }

  .gold {
    color: $gold-color;
  }

  .blue {
    color: $blue-color;

    &:hover {
      color: $blue-color-darker;
    }
  }

  .footer {
    background-color: $base-color-darker;

    .logo {
      display: inline-block;
      vertical-align: middle;

      img {
        max-height: 56px;
      }      
    }

    .copyright {
      display: inline-block;
      vertical-align: middle;

      > span {
        color: $gold-color;
      }
    }
  }
}