@import '../variables.scss';

.root {
  padding: 0.5rem 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: inherit;
  align-items: flex-start;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  
  .page_title {
    color: $base-color-lightest;
    font-size: 1.6rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
  }
}