@import '../variables.scss';

.body_container {
  height: 100%;
  background-color: $dashboard-page-color;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  position: relative;
  display: flex;
  overflow-y: scroll;

  &.nopadding {
    padding: 0;
  }

  .body {
    padding: 1rem 1rem 0 1rem;
    width: 100%;
  }

  &.nopadding {
    padding: 0;
  }
}