@import '../variables.scss';



.root {
  height: 100%;
  display: flex;
  flex-direction: column;

  .corner_menu {
    display: inline-block;
    vertical-align: middle;
  }

  .icon_menu {

  }

  .metadata {

    width: 100%;
    background-color: $base-color-darkest;
    color: $gold-color;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: center;

    .values {
      display: inline-block;
      vertical-align: middle;
      padding: 1.5rem;
      flex: 1;

      > span {
        color: #fff;
        padding: 0 1rem 0 0.25rem;
      }

      .value {

      }
    }
  }

  .content {
    flex: 1;
    margin-top: 1rem;
    display: flex;

    .tab_container {
      display: flex !important;
    }

    .tab_content {
      flex: 1;
      display: flex;
      flex-direction: column;

      > div {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  
}