@import '../variables.scss';

.root {
   .stepper {

    > div {
      display: flex;

      > div > span {
        display: flex;
        color: $gold-color !important;

        svg {
          path {
            fill: $gold-color;
          }
        }
      }
    }
  }

  .remove_button {
    display: inline-block;
    vertical-align: middle;
  }

  .item_name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
  }

  .select {
    svg {
      fill: $blue-color !important;
    }
  }

  .error_text {
    color: $red-color;
    margin: .5rem 0;
  }
}