@import '../variables.scss';

.fullheight {
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  flex: 1;
}

.root {

  display: flex;

   .stepper {

    > div {
      display: flex;

      > div > span {
        display: flex;
        color: $gold-color !important;

        svg {
          path {
            fill: $gold-color;
          }
        }
      }
    }
  }

  .stepper_content {
    flex: 1;

    > div {
      height: 100% !important;

      > div {
        height: 100%;
        overflow: hidden;
        flex-direction: column;
        display: flex;
        flex: 1;
      }
    }
  }

  .remove_button {
    display: inline-block;
    vertical-align: middle;
  }

  .item_name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
  }

  .select {
    svg {
      fill: $blue-color !important;
    }
  }

  .error_text {
    color: $red-color;
    margin: .5rem 0;
  }

  .select_columns {

    display: flex;
    height: 100%;

    .select_pane {
      flex: 1;
      overflow-x: hidden;
    }

     .market_browser {
        padding-left: 1.5rem;
        //background-color: #262b2f;
     }
  }
}