@import '../variables.scss';

.root {
  color: #fff;

  .read_button_all {
    max-width: 200px;
    margin-bottom: 1.5rem;
  }

  .row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.298039);
    color: rgb(255, 255, 255);
    height: 48px;

    .column {
      padding-left: 24px;
      padding-right: 24px;
      height: 48px;
      font-size: 13px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: inherit;
      text-align: left;
    }
  }

  .read_button {

    cursor: pointer;

    svg {
      fill: #ffffff !important;
    }

    &.is_read {

      svg {
        fill: $text-grey !important;
      }
    }
  }
}