@import '../variables.scss';

.root {
  background-color: $base-color;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;

  .not_found {
    text-align: center;
  }

  .table_header {
    background-color: $base-color-darkest;
    padding: 1rem;
    margin-top: 1rem;

    .table_title {
      display: inline-block;
      //margin-left: 1.5rem;
      color: $gold-color;
      font-weight: 300;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }

  .table {

    table {
      background-color: rgb(40, 46, 51) !important;
    }

    &:last-child {
      padding-bottom: 2rem;
    }
  }

  .metadata {

    width: 100%;
    background-color: $base-color-darkest;
    color: $gold-color;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: center;

    .values {
      display: inline-block;
      vertical-align: middle;
      padding: 1.5rem;
      flex: 1;

      > span {
        color: #fff;
        padding: 0 1rem 0 0.25rem;
      }

      .avatar {

        display: inline-block;
        vertical-align: middle;

        img {
          color: rgb(48, 48, 48);
          background-color: rgb(101, 101, 101);
          display: inline-flex;
          font-size: 20px;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          margin-right: 16px;
          -webkit-user-select: none;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}