@import '../variables.scss';

.root {
  padding: 0 1rem;
  flex: 1;
  display: flex;
  flex-direction: inherit;
  align-items: flex-start;
  position: relative;
  overflow-y: scroll;
  overflow-x: auto;
  box-sizing: border-box;
  color: #BDBDBD;

  .container {
    display: flex;
    flex: 1;
    width: 100%;
    min-width: 768px;
  }
}

.disclaimer {
  padding-top: 0.5rem;
  color: #BDBDBD;
  line-height: 1.2;

  .title {
    color: $base-color-lightest;
    font-size: 1.6rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
  }
}

.dashboard_charts {
  position: relative;
  box-sizing: border-box;
  flex: 1;

  .chart_container {
    padding-left: .5rem;
    padding-right: .5rem;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    height: 50%;
    width: 50%;
    display: inline-block;

    @media (--small-screen) {

      display: block;
      height: 100%;
      width: 100%;
    }

    .chart_header {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 100;
      box-sizing: border-box;

      .chart_menu {
        margin-right: 2.2rem;
        display: inline-block;
        float: right;
        position: relative;
        box-sizing: border-box;

         button {
          padding: 0 !important;
          width: 0 !important;
          height: 0 !important;
        }
      }
    }

  .chart {
      position: relative;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      width: 100%;

      > div > div {
        padding-top: 0 !important;
      }
    }
  }

  .chart_row {
    display: flex;
    flex-direction: row;
    margin-right: -.5rem;
    margin-left: -.5rem;
    position: relative;
    box-sizing: border-box;

    @media (--small-screen) {

      height: 200% !important;
      max-height: 200% !important;
      flex-direction: column !important;
    }

    .chart_container {
      flex: 0 0 auto;
      flex-basis: 33.333333%;
      padding-left: .5rem;
      padding-right: .5rem;
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      @media (--small-screen) {

        flex-basis: 50% !important;
      }

      .chart_header {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
        box-sizing: border-box;

        .chart_menu {
          margin-right: 2.2rem;
          display: inline-block;
          float: right;
          position: relative;
          box-sizing: border-box;

           button {
            padding: 0 !important;
            width: 0 !important;
            height: 0 !important;
          }
        }
      }

      .chart {
        flex: 1;
        position: relative;
        box-sizing: border-box;
            display: flex;

        > div > div {
          padding-top: 0 !important;
        }
      }
    }
  }

}