@import '../variables.scss';

.root {
  padding: 0.5rem 0rem 0 !important;
  color: $text-grey;

  > div:first-child {
    padding-left: 1rem;
  }

  .menu_container {
    width: 100%;
    border-bottom: 2px solid #25292d;
    padding-left: 1.5rem;

    .menu {
     
    }

    .menu_item {
      display: inline-block;
      margin: 0 1rem 0 1rem;
      padding: 1rem 1rem 1rem 1rem;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.1rem;
      cursor: pointer;
      transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

      &.active {
        border-bottom: 3px solid #eba91b;
      }

      &:hover {
        background-color: rgba(255,255,255,0.09080392);
      }
    }
  }

  .body_container {
    height: 100%;
    background-color: #2d343c;
    padding: 2.5rem 2.5rem 0 2.5rem;
    width: 100%;
    flex: 1;
    box-sizing: border-box;

    .body {
      padding: 1rem 1rem 0 1rem;
    }
  }
}