
.profile_info {

  .container {
    
    .card {
      margin-bottom: 1.5rem;
      display: inline-block;
      vertical-align: top;

      .disabled {
        color: #C62828;
      }
    }
  }

  .avatar {
    vertical-align: middle;
  }

  .basic_info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5rem;

    .info_field {
      margin-bottom: .8rem;

      .info_key {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8rem;
        vertical-align: text-bottom;
      }

      .info_value {
        margin-left: .5rem;
        font-size: 1.1rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
