@import '../variables.scss';

.root {
  hr {
    margin: 0 !important;
  }
}

.subscription_info {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $base-color-darkest;
  color: $text-grey;

  .info_row {
    margin-right: 2.5rem;
    display: inline-block;

    .info_key {
      font-weight: bold;
      text-transform: uppercase;
      font-size: .8rem;
    }

    .info_value {
      font-size: 1.1rem;
      margin-top: 0.4rem;
    }
  }
}

.withdrawal_box {
  > div {

  }
}

.deposit_button {
  margin-bottom: 0.5rem;
}

.subscription_history {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .subscription_history_header {
    background-color: #1e2327;
    padding: 1rem;

    .subscription_history_selector {
      margin-left: 1.5rem;
      display: inline-block;
    }

    .subscription_history_title {
      display: inline-block;
      //margin-left: 1.5rem;
      color: #eba91b;
      font-weight: 300;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
  .subscription_history_table {
    table {
      background-color: rgb(40, 46, 51) !important;
    }
  }
}