@import '../variables.scss';

.browser_route {
  color: $blue-color;
  cursor: pointer;

  &:hover {
    color: color($blue-color lightness(+15%));
  }
}

.header {
  padding: 1rem;
  cursor: pointer;
  user-select: none;

  svg {
    vertical-align: middle;
  }
}

.assets_search {

  font-weight: 300;  

  label {
    color: $gold-color !important;
    line-height: 0px !important;
    z-index: 0 !important;
  }

  input {
    margin-top: 0 !important;
  }

  hr:first-child {
    border-color: rgba(255,255,255,0.5) !important;
  }

  hr:not(:first-child) {
    border-color: $gold-color !important;
  }
}