@import '../variables.scss';

.root {
  margin-bottom: 20px;
}

.market_browser {
  background-color: $base-color-darkest;
  color: $text-grey;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  margin-right: 20px;
  border: 1px solid $base-color-darkest;
  max-width: 600px;
  width: 600px;
  font-size: 0.9em;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  flex: 1;
  box-sizing: border-box;

  .search {
    padding: 0 1rem;

    .market_browser_search {
      font-weight: 300;  

      label {
        color: $blue-color !important;
        line-height: 0px !important;
        z-index: 0 !important;
      }

      input {
        margin-top: 0 !important;
      }

      hr:first-child {
        border-color: rgba(255,255,255,0.5) !important;
      }

      hr:not(:first-child) {
        border-color: $blue-color !important;
      }
    }
  }
}